body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    max-width: 1200px;
    margin: auto;
}
header{
    text-align: center;
}
main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 1em;
}
h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    color:purple;
}

h3 {
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}
#mainLeft {
    border-right: 1px solid lightgray;
}
section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}


